In [1]:
import pandas as pd
#Crear dataframe
game_2000=pd.read_csv("Games with metacritic score since 2000.csv")

# Minuscula columnas por verificar
game_2000.name= game_2000['name'].str.lower()
game_2000.console= game_2000['console'].str.lower()


# Dataframe con las columnas que deseo revizar.
data_duplicated_2000= game_2000[['name','console']]
data_duplicated_2000[data_duplicated_2000.duplicated()] #the messenger duplicado

               name console
9278  the messenger      pc

*Se puede ver que el juego the messenger en pc tiene la data duplicada pero el valor de user score y la fecha no concuerdan*

In [7]:
game_2000[(game_2000.name=="the messenger") & (game_2000.console=='pc')]

      metascore           name console userscore          date
2222         83  the messenger      pc       6.1  Aug 30, 2018
9278         61  the messenger      pc       tbd  Feb 14, 2001

In [19]:
#seguramente se puede crear una función para que mire todos los docummentos pero yo no sé cómo xd
#Crear dataframe
data_sales= pd.read_csv("Video_Game_Sales.csv")

# Minuscula columnas por verificar Name, Platform
data_sales['Name']= data_sales['Name'].str.lower()

data_sales.Platform= data_sales['Platform'].str.lower()


# Dataframe con las columnas que deseo revizar.
data_duplicated_sales= data_sales[['Name','Platform']]
data_duplicated_sales[data_sales.duplicated()] #sin duplicados

Empty DataFrame
Columns: [Name, Platform]
Index: []

In [23]:

#Crear dataframe
data_sales_2016= pd.read_csv("Video_Games_Sales_as_at_22_Dec_2016.csv")

# Minuscula columnas por verificar Name, Platform
data_sales_2016['Name']= data_sales_2016['Name'].str.lower()

data_sales_2016.Platform= data_sales_2016['Platform'].str.lower()


# Dataframe con las columnas que deseo revizar.
data_duplicated_sales_2016= data_sales_2016[['Name','Platform']]
data_duplicated_sales_2016[data_sales_2016.duplicated()] #sin duplicados

Empty DataFrame
Columns: [Name, Platform]
Index: []

In [26]:

#Crear dataframe
data_developer= pd.read_csv("videogames-price-developer-publisher.csv")

# Minuscula columnas por verificar Name, Platform
data_developer['game']= data_developer['game'].str.lower()

data_developer.duplicated().sum() #no duplicados

0

In [30]:

#Crear dataframe
data_xbox= pd.read_csv("XboxOne_GameSales.csv",encoding = 'unicode_escape', engine ='python')


# Minuscula columnas por verificar Name, Platform
data_xbox['Game']= data_xbox['Game'].str.lower()

data_xbox.duplicated().sum() # No duplicados

0

EXPLORACIÓN

In [ ]:

import matplotlib.pyplot as plt
import seaborn as sns